<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link type="text/css" rel="stylesheet" href="/styles/style.css" />
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> {{{block "head"}}}
</head>

<body>
    <header>
    <nav class="topnav" id="myTopnav">
      <a href="/" id="home" class="">Home</a>
      <a href="/gallery" id="gallery" class="">Gallery</a>
      <a href="/upload" id="upload" class="">Upload</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </nav>
  </header>
  {{{body}}}
  <div class="space">
  <p></p>
  </div>
  <footer class="footer">
    <div class="col" id="social">
      <h3>Find me on social media!</h3>
      <br>
      <a href="https://www.facebook.com/linus.jansson.507" target="blank"><i class="fa fa-2x fa-facebook" aria-hidden="true"></i></a>
      <a href="https://twitter.com/legendenlajna" target="blank"><i class="fa fa-2x fa-twitter" aria-hidden="true"></i></a>
      <a href="https://steamcommunity.com/id/lajnalegenden" target="blank"><i class="fa fa-2x fa-steam" aria-hidden="true"></i></a>
      <a href="https://www.flickr.com/photos/136116345@N08/" target="blank"><i class="fa fa-2x fa-flickr" aria-hidden="true"></i></a>
    </div>
    <div class="col" id="contact" >
      <h3>Contact me</h3>
      <p>Linus Jansson</p>
      <p>Vallmovägen 8, 23634 Höllviken</p>
      <p><a href="mailto:00jansson@gmail.com">00Jansson@gmail.com</a></p>
    </div>
    <div class="col" id="thanks">
      <h3>Specical thanks!</h3>
      <p>Here I want to say how much some things has help me trough this course. First of all i want to thank Stack Overflow for providing me with so much examples and help, and the same goes for W3Schools.com. Good job guys. Then last but not least i want to thank Larry Tesler <a href="https://en.wikipedia.org/wiki/Larry_Tesler#Biography">(click here to find you why)</a> for his prilliant invention. Thanks for helping me trough this! </p>
    </div>
  </footer>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="/js/js.js"></script>
  {{{block 'script'}}}
</body>

</html>